## ignore all the folders except the following:
# */ 
# !nvim/
# !tmux/
# !kitty/

filezilla/
github-copilot/
iterm2/

## Ignore specific files
*.DS_Store

## Ignore specific folders
tmux/plugins/
tmux/tpm_plugin/
